<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
        <th>Contact Email</th>
    </tr>
    </thead>
    <tr th:each="event : ${events}">
        <td th:text="${event.id}"></td>
        <td th:text="${event.name}"></td>
        <td th:text="${event.eventDetails.description}"></td>
        <td th:text="${event.category.name}"></td>
        <td th:text="${event.eventDetails.contactEmail}"></td>
    </tr>
</table>
</body>

</html>